absl-py==1.0.0
arrow==1.2.2
astor==0.8.1
atari-py==0.2.9
attrs==21.4.0
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.11
click==8.0.3
cloudpickle==1.2.2
cycler==0.11.0
Cython==0.29.27
easydict==1.9
fonttools==4.29.1
fqdn==1.5.1
future==0.18.2
gast==0.2.2
gitdb==4.0.9
google-pasta==0.2.0
grpcio==1.43.0
h5py==3.6.0
idna==3.3
imageio==2.9.0
importlib-metadata==4.10.1
importlib-resources==5.4.0
isoduration==20.11.0
jmespath==0.10.0
joblib==1.1.0
jsonpointer==2.2
jsonref==0.2
jsonschema==4.4.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
Markdown==3.3.6
matplotlib==3.5.1
monotonic==1.6
msgpack==1.0.3
networkx==2.6.3
numpy==1.21.5
opencv-python==4.5.5.62
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.5
Pillow==6.2.1
protobuf==3.19.4
psutil==5.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyglet==1.3.2
PyJWT==2.3.0
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.2.0
PyYAML==6.0
rfc3339-validator==0.1.4
rfc3987==1.3.8
rsa==4.8
s3transfer==0.5.1
scikit-image==0.19.1
scikit-learn==1.0.2
scipy==1.4.1
seaborn==0.11.2
simplejson==3.17.6
six==1.16.0
smmap==5.0.0
tabulate==0.8.9
tensorboard==2.1.1
tensorboardX==2.4.1
termcolor==1.1.0
threadpoolctl==3.1.0
tifffile==2021.11.2
torch==1.3.0
torchvision==0.4.1
tqdm==4.62.3
typing_extensions==4.0.1
uri-template==1.1.0
urllib3==1.26.8
webcolors==1.11.1
Werkzeug==2.0.3
wrapt==1.13.3
yacs==0.1.8
zipp==3.7.0
